APP_NAME=IT Skills Radar
APP_ENV=local
API_HOST=0.0.0.0
API_PORT=8000
STREAMLIT_PORT=8501

POSTGRES_DB=it_skills_radar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/it_skills_radar

